<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Information</title>
  </head>

  <body>
    Name: <%= @doctor.name %><br>
    Specialty: <%= @doctor.specialty %><br>
    School: <%= @doctor.university %><br>
    Employed by: <%= @doctor.hospital.name %><br>
    Patients: <% @doctor.patients.each do |patient| %>
      <%= patient.name %> 
      <%= link_to "Remove #{patient.name}", doc_patient_path,  method: :delete %>
    <% end %>
  </body>
</html>
